.additions__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  margin-top: 0;
}

.additions__block {
  margin: 0 20px 0 20px;
}

.additions__list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 35px;
  border-top: 1px solid #cdcdcd;
}

.additions__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;
}

.additions__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 13px;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 2px;
  color: $special_dark-grey-2;
}

.additions__price-tag {
  display: flex;
  flex-wrap: wrap;
}

.additions__info {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 16px;
  border-collapse: collapse;
  font-family: "Arial", "Tahoma", sans-serif;
}

.additions__options {
  padding: 0;
}

.additions__weight {
  text-align: left;
}

.additions__price {
  text-align: right;
}

.additions__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: $basicgreen;
  list-style: none;
  text-decoration: none;
  color: $basic-white;
  padding: 9px 109px 10px 110px;
}

.additions__present {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.additions__promo {
  background-image: url("../img/present-mobile.jpg");
  align-items: center;
  min-height: 290px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basicgreen;
  background-size: cover;
  position: relative;
  @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/present-mobile@2x.jpg");
      background-size: cover;
    }
}

.additions__order {
  color: white;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Tahoma", sans-serif;
  text-decoration: none;
  position: absolute;
  left: 57px;
  top: 188px;
  text-align: center;
  width: 58%;
}

.additions__promo::before {
  content: "";
  position: absolute;
  display: block;
  width: 78px;
  height: 80px;
  background: url("../img/icon_present-mobile.svg");
  top: 59px;
  left: 101px;
}

@media (min-width: $tablet) {
  .additions {
    margin: 4px 0 74px;
  }

  .additions__text {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  .additions__block {
    margin-left: 30px;
    margin-right: 30px;
  }

  .additions__list {
    margin-bottom: 70px;
  }

  .additions__item {
    border: 1px solid #cdcdcd;
    padding-bottom: 36px;
    padding-top: 0;
    border-bottom: none;
  }

  .additions__item--border {
    border-bottom: 1px solid #cdcdcd;;
  }

  .additions__item:first-child {
    padding-top: 0;
    margin: 0;
  }

  .additions__price-tag {
    margin: 25px 37px -6px 36px;
  }

  .additions__title {
    padding-right: 129px;
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    margin-bottom: 25px;
  }

  .additions__info {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
    width: 49%;
  }

  .additions__weight {
    text-align: right;
  }

  .additions__price {
    width: 90px;
  }

  .additions__link {
    padding: 9px 285px 9px 287px;
  }

  .additions__present {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 23px;
  }

  .additions__promo {
    background-image: url("../img/present-tablet.jpg");
    align-items: center;
    min-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $basicgreen;
    background-size: cover;
    position: relative;
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/present-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .additions__order {
    max-width: 161px;
    color: white;
    margin: 0;
    position: absolute;
    left: 423px;
    top: 69px;
    text-align: left;
  }

  .additions__promo::before {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 82px;
    background: url("../img/icon_present-mobile.svg");
    top: 55px;
    left: 79px;
  }
}

@media (min-width: $desktop) {
  .additions {
    overflow: hidden;
    width: 1220px;
    margin: 0 auto 17px;
  }

  .additions__list {
    border-top: none;
  }

  .additions__item:first-child .additions__price-tag {
    border-top: 1px solid #cdcdcd;
    padding-top: 29px;
  }

  .additions__text {
    margin-bottom: 63px;
  }

  .additions__block {
    margin-left: 0;
    margin-right: 30px;
    margin-top: -14px;
  }

  .additions__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .additions__item {
    border: none;
    margin: 0;
    padding: 0;
  }

  .additions__price-tag {
    border-bottom: 1px solid #cdcdcd;
    margin: 29px 50px 0 0;
    flex-wrap: nowrap;
  }

  .additions__title {
    width: 213px;
    margin-right: 111px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: -3px;
  }

  .additions__info {
    width: 287px;
    margin-right: 38px;
    margin-bottom: 22px;
  }

  .additions__weight {
    text-align: left;
  }

  .additions__price {
    width: 44px;
    text-align: left;
  }

  .additions__link {
    padding: 9px 92px 9px 91px;
    margin: -13px 0 15px 0;
  }

  .additions__present {
    margin: 16px 95px 0 0;
    padding: 0;
  }

  .additions__promo {
    background-image: url("../img/additions-bg-desktop.jpg");
    align-items: center;
    min-height: 289px;
    width: 245px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $basicgreen;
    background-size: cover;
    position: relative;
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/additions-bg-desktop@2x.jpg");
      background-size: cover;
    }
    &::before {
      top: 58px;
      left: 85px;
    }
  }

  .additions__order {
    margin: 0;
    left: 26px;
    top: 187px;
    text-align: center;
    min-width: 78%;
  }
}
