.advantages {
  font-weight: 400;
  margin: 0 20px 0 20px;
}

.advantages__number{
  display: none;
}

.advantages__work {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 27px 0 41px 0;
}

.advantages__list {
  margin: 0 0 39px 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;
  &::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68B738;
    z-index: 1;
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    display: block;
  }
}

.advantages__item:last-child{
  margin-bottom: 0;
}

.advantages__item--healthy::after{
  width: 30px;
  height: 32px;
  top: 11px;
  left: 15px;
  background-image: url("../img/icon_leaf.svg");
  background-size: cover;
}

.advantages__item--fast::after{
  width: 29px;
  height: 31px;
  top: 10px;
  left: 15px;
  background-image: url("../img/icon_tub.svg");
  background-size: cover;
}

.advantages__item--replace::after{
  width: 25px;
  height: 30px;
  top: 12px;
  left: 18px;
  background-image: url("../img/icon_eat.svg");
  background-size: cover;
}

.advantages__item--change::after{
  width: 32px;
  height: 33px;
  top: 10px;
  left: 14px;
  background-image: url("../img/icon_alarm.svg");
  background-size: cover;
}

.advantages__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.advantages__item--change{
  margin-bottom: 41px;
}

@media (min-width: $tablet) {
  .advantages {
    margin: 0;
    padding: 0;
  }

  .advantages__number{
    position: absolute;
    display: block;
    font-size: 280px;
    line-height: 209px;
    color: #F2F2F2;
    z-index: -1;
    top: 0;
    left: 115px;
    padding: 0;
    margin: 0;
  }

  .advantages__work {
    font-size: 60px;
    line-height: 60px;
    margin: 45px 0 70px 30px;
  }

  .advantages__list {
    margin: 0;
    padding: 0 30px 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__item {
    position: relative;
    width: 46%;
    box-sizing: border-box;
    padding-right: 79px;
    margin-bottom: 86px;
    padding-left: 0;

    &::before{
      top: 2px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--healthy::after{
    top: 27px;
    left: 24px;
  }

  .advantages__item--fast::after{
    top: 26px;
    left: 27px;
  }

  .advantages__item--replace::after{
    top: 28px;
    left: 28px;
  }

  .advantages__item--change::after{
    top: 26px;
    left: 26px;
  }

  .advantages__item:nth-last-child(1),
  .advantages__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .advantages__description {
    padding: 114px 0 45px 0;
    font-size: 16px;
    line-height: 24px;
    width: auto;
  }
}

@media (min-width: $desktop) {
  .advantages {
    margin: 0 auto -65px;
    position: relative;
    z-index: 10;
    width: 1220px;
  }

  .advantages__work {
    margin: 69px 106px 71px 0;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .advantages__item {
    margin: 0 0 15px;
    padding: 0 0 30px;
    width: 245px;
  }
}
