.advantages {
  font-weight: 400;
  margin: 0 20px 0 20px;
}

.advantages__work {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;
}

.advantages__list {
  margin: 38px 0;
  padding: 0;
}

.advantages__illustration--healthy {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.advantages__illustration--fast {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/icon_tub.svg");
  background-repeat: no-repeat;
  background-position: 14px 11px;
  background-size: 30px;
}

.advantages__illustration--replace {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: 18px 14px;
  background-size: 25px;
}

.advantages__illustration--change {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/icon_alarm.svg");
  background-repeat: no-repeat;
  background-position: 14px 12px;
  background-size: 32px;
}

.advantages__item {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.advantages__description {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: calc(100% - 80px);
  margin: 0;
}

.advantages__item--change{
  margin-bottom: 41px;
}

@media (min-width: $tablet) {
  .advantages {
    margin: 0;
    padding: 0;
  }

  .advantages__work {
    font-size: 60px;
    line-height: 60px;
    margin: 45px 0 72px 30px;
  }

  .advantages__list {
    margin: 0 30px 0 30px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__illustration--healthy {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }

  .advantages__illustration--fast {
    width: 80px;
    height: 80px;
    background-position: 26px 22px;
    background-size: 30px;
  }

  .advantages__illustration--replace {
    width: 80px;
    height: 80px;
    background-position: 28px 25px;
    background-size: 25px;
  }

  .advantages__illustration--change {
    width: 80px;
    height: 80px;
    background-position: 26px 23px;
    background-size: 32px;
  }

  .advantages__illustration {
    width: 80px;
    height: 80px;
    margin-bottom: -64px;
  }

  .advantages__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 103px;
    width: 46%;
  }

  .advantages__item:nth-last-child(1),
  .advantages__item:nth-last-child(2)
  {
    padding-bottom: 70px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: 246px;
  }

  .advantages__item--healthy {
    background-image: url("../img/number1.png");
    height: 214px;
    background-position: 124px 0;
    background-repeat: no-repeat;
  }

  .advantages__item--fast {
    background-image: url("../img/number2.png");
    height: 214px;
    background-position: 124px 0;
    background-repeat: no-repeat;
  }

  .advantages__item--replace {
    background-image: url("../img/number3.png");
    height: 214px;
    background-position: 124px 0;
    background-repeat: no-repeat;
  }

  .advantages__item--change {
    background-image: url("../img/number4.png");
    height: 214px;
    background-position: 124px 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop) {
  .advantages {
    margin: 0 0 -92px;
    position: relative;
    z-index: 10;
  }

  .advantages__work {
    margin: 69px 106px 71px 110px;
  }

  .advantages__list {
    margin: 0 96px 0 110px;
    border-bottom: none;
  }

  .advantages__item {
    margin: 0 0 15px;
    padding: 0 0 30px;
    width: 245px;
  }
}
