.example-stats {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 27px;
  }

  .example-stats__ratio {
    padding: 0;
    margin: 0;
    width: 44%;
    text-align: center;
    position: relative;
  }

  .example-stats__minus {
    font-size: 12px;
    line-height: 12px;
    font-family: "Arial", sans-serif;
    color: #444444;
    width: 77px;
    text-align: center;
    background-color: #EAEAEA;
    margin: -8px auto;
    padding: 0 7px;
  }

  .example-stats__number {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
      padding: 13px 4px 17px 4px;
    border: 1px solid #dcdcdc;
  }

@media (min-width: $tablet) {
  .example-stats {
    width: 52%;
    margin-bottom: 93px;
  }

  .example-stats__number {
    font-size: 30px;
    line-height: 37px;
    padding-top: 13px;
    padding-bottom: 19px;
  }

  .example-stats__minus {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    max-width: 77%;
    background-color: #ffffff;
    padding: 0 7px;
  }

  .example-stats__ratio {
    width: 45%;
  }
}

@media (min-width: $desktop) {
  .example-stats {
    padding-left: 0;
    width: 60%;
    margin: 0;
    padding-bottom: 53px;
  }

  .example-stats__ratio {
    width: 44%;
  }

  .example-stats__minus {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    background-color: #f2f2f2;
    max-width: 80%;
  }
}
