.example-change {
    position: relative;
    height: 296px;
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
}
  
.example-change__screen-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  
.example-change__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
  
 .example-change__screen-container {
   width: 100%;
   height: 241px;
 }
 
 
 .example-change__screen-container--one {
   z-index: 100;
   width: 100%;
   transition: all 2s;
   overflow: hidden;
 } 
 
 .example-change__screen-container--opened {
   width: 100%;
 }
 
 .example-change__screen-container--closed {
   width: 0%;
 }
 
 .example-change__screen::after {
   content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .example-change__screen--two::after {
    background-color: #e7e7e7;
  }
  
  .example-change__screen {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .example-change__screen::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 0;
    background-repeat: no-repeat;
  }
  
  .example-change__screen--one::before {
    right: auto;
    background-image: url("../img/before-mobile.png");
    background-color: transparent;
    background-position: -18px -1px;
    width: 262px;
    height: 100%;
    top: 0;
    left: -2px;
    right: auto;
  
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/before-mobile.png");
      background-size: cover;
    }
  }
  
  .example-change__screen--two::before {
    height: 100%;
    top: 4px;
    left: -14px;
    right: auto;
    background-image: url("../img/cat-skinny.png");
    background-color: transparent;
    width: 303px;
  
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/after-mobile@2x.png");
      background-size: cover;
    }
  }
  
  @media (min-width: $tablet) {
    .example-change {
      width: 662px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0 auto;
      transform: translateX(-50%);
      padding-bottom: 0;
      z-index: 100;
    }
  
    .example-change__screen {
      position: relative;
    }
  
    .example-change__screen-container {
      width: 100%;
      height: 100%;
    }
  
    .example-change__screen-container::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    .example-change__screen::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #f2f2f2;
      position: absolute;
      top: 173px;
      left: 0;
      z-index: -1;
    }
  
    .example-change__screen--two::after {
      background-color: #e7e7e7;
    }
  
    .example-change__screen-container--one {
      z-index: 100;
      width: 49.8%;
      transition: all 2s;
      overflow: hidden;
    }
  
    .example-change__screen {
      width: 100%;
      height: 523px;
      position: relative;
    }
  
    .example-change__screen::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      padding-bottom: 0;
      background-repeat: no-repeat;
    }
  
    .example-change__screen--one::before {
      height: 100%;
      top: 4px;
      left: 26px;
      right: auto;
      background-image: url("../img/before-tablet@1x.png");
			background-size: cover;
      background-color: transparent;
      background-position: -35px -1px;
      width: 662px;
  
      @media (min-resolution: 2dpi){
        background-image: url("../img/before-tablet@2x.png");
        background-size: cover;
  
      }
    }
  
    .example-change__screen--two::before {
      height: 100%;
      top: 4px;
      left: -10px;
      right: auto;
      background-image: url("../img/after-tablet@1x.png");
      background-color: transparent;
			background-size: cover;
      width: 662px;
  
      @media (min-resolution: 2dpi),
      (min-resolution: 2dppx) {
        background-image: url("../img/after-tablet@2x.png");
        background-size: cover;
      }
    }
  
    .example-change__screen-container--opened {
      width: 84.5%;
    }
  
    .example-change__screen-container--closed {
      width: 16.5%;
    }
  }
  
  @media (min-width: $desktop) {
    .example-change {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: none;
    }
  
    .example-change::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      background-color: #e7e7e7;
      width: 70%;
      top: 194px;
      right: 0;
    }
  
    .example-change__screen {
      position: relative;
    }
  
    .example-change__screen-container {
      width: 100%;
      height: 100%;
    }
  
    .example-change__screen-container::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    .example-change__screen::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #f2f2f2;
      position: absolute;
      top: 194px;
      left: 0;
      z-index: -1;
    }
  
    .example-change__screen--two::after {
      background-color: #e7e7e7;
    }
  
    .example-change__screen-container--one {
      z-index: 100;
      width: 53%;
      transition: all 2s;
    }
  
   .example-change__screen-container--opened {
      width: 89%;
    }
  
    .example-change__screen-container--closed {
      width: 19%;
    }
  
  
    .example-change__screen {
      width: 571px;
      height: 100%;
      position: relative;
    }
  
    .example-change__screen::before {
      content: "";
      position: absolute;
      height: 523px;
      width: 100%;
      padding-bottom: 0;
      background-repeat: no-repeat;
      left: -8px;
      top: 4px;
    }
  
    .example-change__screen--one::before {
      background-image: url("../img/before-desktop@1x.png");
      background-color: transparent;
      background-position: -35px -1px;
			background-size: cover;
  
      @media (min-resolution: 2dpi) {
        background-image: url("../img/before-desktop@1x.png");
        background-size: cover;
				background-size: cover;
      }
    }
  
    .example-change__screen--two::before {
      height: 523px;
      top: 3px;
      left: auto;
      right: -52px;
      background-image: url("../img/after-desktop@1x.png");
			background-size: cover;
      background-color: transparent;
  
      @media (min-resolution: 2dpi) {
        background-image: url("../img/after-desktop@2x.png");
				background-size: cover;
      }
    }
  }
  