.form__choice {
  padding: 27px 20px 38px;
}

.form__selection {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.form__filling {
  font-size: 14px;
  line-height: 18px;
  width: 85%;
  margin-top: 37px;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .form__choice {
  padding: 64px 69px 46px;
  }

  .form__selection {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  .form__filling {
    font-size: 20px;
    line-height: 30px;
    width: 56%;
    margin-top: 55px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop) {
  .form__choice {
    padding: 27px 110px 47px;
  }

  .form__filling {
    width: 31%;
  }

  .form__block--info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
  }
}
