.form__choice {
  padding: 27px 20px 38px;
}

.form__selection {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.form__filling {
  font-size: 14px;
  line-height: 18px;
  width: 85%;
  margin-top: 37px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.form__contacts {
  padding: 26px 0 2px 0;
}

.form__records {
  padding: 35px 20px 5px 20px;
}

.form__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form__input {
  margin-left: 10px;
}

.form__block--email {
  position: relative;
  &::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon_email.svg");
  background-repeat: no-repeat;
  }
}

.form__block--telephone{
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 20px;
    height: 20px;
    background-image: url("../img/phone-1.svg");
    background-repeat: no-repeat;
    }
}

.form__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 8px 0 0 15px;
  border: 1px solid #e6e6e6;
  outline: 0;
  color: #444444;
  width: 82%;
  height: 140px;
  margin: 40px 20px 21px 20px;
  resize: none;
}

@media (min-width: $tablet) {
  .form__choice {
  padding: 64px 69px 46px;
  }

  .form__selection {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  .form__filling {
    font-size: 20px;
    line-height: 30px;
    width: 56%;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .form__contacts {
    margin-bottom: -10px;
    padding: 29px 0 2px;
  }

.form__records {
    padding: 76px 0 54px 69px;
  }

  .form__block {
    margin-bottom: 20px;
  }

  .form__input {
    margin-left: 16px;
  }

  .form__block--email {
    position: relative;
    &::before {
      top: 17px;
      right: 84px;
    }
  }

  .form__block--telephone{
    position: relative;
    &::before {
      top: 15px;
      right: 83px;
    }
  }

  .form__textarea {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 9px 0px 24px 18px;
    border: 1px solid #e6e6e6;
    outline: 0;
    color: #444444;
    width: 80%;
    height: 140px;
    margin: 77px -36px 62px 70px;
    resize: none;
  }
}

@media (min-width: $desktop) {
  .form {
    width: 100%;
    overflow: hidden;
  }

  .form__choice {
    padding: 27px 0 47px;
    width: 1220px;
    margin: 0 auto;
  }

  .form__filling {
    width: 31%;
  }

  .form__block-info {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto 48px;
    justify-content: space-between;
  }

  .form__goals{
    width: 570px;
  }

  .form__records {
    padding: 75px 0 49px;
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .form__block {
    width: 569px;
    margin-right: 4px;
  }

  .form__block--email::before {
    top: 19px;
    right: 19px;
  }

  .form__block--telephone::before {
    top: 16px;
    right: 14px;
  }

  .form__textarea {
    padding: 9px 60px 23px 18px;
    width: 1220px;
    margin: 76px auto 102px;
    box-sizing: border-box;
    display: block;
  }

  .form__contacts {
    margin-bottom: 0;
    padding: 0;
  }
}
