.functional {
  color: $basic-white;
  font-weight: normal;
  text-align: center;
  margin-bottom: 22px;
}

.functional__wrapper{
  position: relative;
  padding-bottom: 136px;
  margin-bottom: 2px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 20;
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: cover;
    }
  }
}

.functional__container {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    min-height: 302px;
    height: 100%;
    background: #64a73c;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-size: 2px 100%;
    display: block;
    z-index: -3;
  }

    &::after {
      content: "";
      position: absolute;
      width: 50vw;
      min-height: 302px;
      height: 100%;
      background: url("../img/green-bg-right.jpg") repeat-x 0 0;
      left: 50%;
      top: 0;
      z-index: -2;
  }
}

.functional__bg{
  position: relative;
  padding-bottom: 132px;
  padding-top: 27px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    height: 100%;
    background-image: url("../img/functional-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/functional-bg-mobile@2x.jpg");
      background-size: cover;
    }
  }
}

.functional__header {
  padding: 0;
  margin: 0 auto 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #FFFFFF;
  width: 250px;
}

.functional__intro {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin: 0 0 30px;
  position: relative;
  z-index: 10;
}

.functional__button {
  font-size: 14px;
  line-height: 18px;
  margin: 0 20px 0 20px;
  text-transform: uppercase;
  background: $basicgreen;
  list-style: none;
  padding: 12px 5px 11px;
  text-decoration: none;
  color: $basic-white;
  display: block;
}

.button:hover,
.button:focus {
  background-color: rgba(94, 170, 47, 1);
}

.button:active {
  color: rgba(255,255,255,.3);
}

.functional__button:hover {
  background: $basic-green-hover;
}

@media (min-width: $tablet) {
  .functional {
    padding-bottom: 0;
    text-align: left;
    width: 709px;
    margin: 0 auto;
    position: relative;
  }

  .functional__container {
    position: relative;
    text-align: left;
    padding-left: 88px;
    padding-top: 65px;
    overflow: visible;
    padding-bottom: 563px;
  }

  .functional__container::before {
    content: "";
    display: block;
    position: absolute;
    top: unset;
    bottom: 0;
    left: 50%;
    width: 709px;
    height: 609px;
    background-image: url("../img/index-can-tablet.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 1;
    background-color: transparent;
    background-size: cover;
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.png");
      background-size: cover;
    }
  }

  .functional__wrapper{
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .functional__wrapper::after{
    display: none;
  }

  .functional__bg {
    padding: 0;

    &::after{
      display: none;
    }
}

  .functional__header {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    text-align: left;
    padding-bottom: 40px;
    margin: 0;
  }

  .functional__intro {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
    width: 285px;
    margin: 0 0 66px;
  }

  .functional__container::after {
    display: none;
  }

  .functional__button {
    z-index: 10;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    padding: 18px 27px 16px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    bottom: 526px;
  }

  .functional__button:hover {
    background-color: #5eaa2f;
  }

  .functional__button:active {
    color: rgba(255,255,255,.3);
  }
}

@media (min-width: $desktop) {
  .functional {
    position: relative;
    padding-bottom: 0;
    overflow: visible;
    margin-bottom: 81px;
    width: auto;
    &::before {
      content: "";
      width: calc(50vw - 9px);
      left: 50%;
      top: -158px;
      background: url("../img/functional-bg-desktop.jpg") no-repeat top left;
      background-size: cover;
      height: calc(100% + 159px);
      position: absolute;
      z-index: -1;
      @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/functional-bg-desktop@2x.jpg");
      background-size: cover;
      }
    }
  }

  .functional__wrapper {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .functional__container {
    padding-left: 80px;
    padding-top: 33px;
    padding-bottom: 168px;
    &::before{
      display: none;
    }
  }

  .functional::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 54px;
    left: 50%;
    margin-left: -163px;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 1;
    @media (min-resolution: 2dpi),
    (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: cover;
    }
  }

  .functional__header{
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
    width: 50%;
    margin: 31px 0 41px;
    padding: 0;
  }

  .functional__button {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    padding: 18px 26px 17px;
    position: relative;
    margin: 0 0 0 -529px;
    bottom: 183px;
    left: 50%;
    transform: translate(0,0);
  }
}
