.page-body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $basic-black;
  background-color: $basic-white;
}

@media (min-width: $tablet) {
  .page-body--index .page-body__footer {
    background: #ffffff;
  }
}

@media (min-width: $desktop) {
.page-body--index {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 400px;
      left: 50%;
      top: 0;
      background: url("../img/bg-green-desktop-menu.jpg") repeat top left;
      display: block;
      z-index: 1;
    }
  }

  .page-body--index .page-body__footer {
    background: #f2f2f2;
  }
}
