.present {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 76px;
}

.present__block {
  background-image: url("../img/present-mobile.jpg");
  align-items: center;
  min-height: 290px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basicgreen;
  background-size: cover;
  position: relative;
}

.present__link {
  max-width: 150px;
  color: $basic-white;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Oswald", sans-serif;
  text-decoration: none;
  position: absolute;
  left: 58px;
  top: 187px;
  text-align: center;
}

.present__block::before {
  content: "";
  position: absolute;
  display: block;
  width: 78px;
  height: 80px;
  background: url("../img/icon_present-mobile.svg");
  top: 59px;
  left: 101px;
}

@media (min-width: $tablet) {
.present {
  padding-left: 30px;
  padding-right: 30px;
  }

  .present__block {
    background-image: url("../img/present-tablet.jpg");
    align-items: center;
    min-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $basicgreen;
    background-size: cover;
    position: relative;
  }

  .present__link {
    max-width: 161px;
    color: white;
    margin: 0;
    position: absolute;
    left: 423px;
    top: 71px;
    text-align: left;
  }

  .present__block::before {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 82px;
    background: url("../img/icon_present-mobile.svg");
    top: 58px;
    left: 79px;
  }
}
