.radio {
  margin: 0;
  padding: 0 20px 0 20px;
}

.radio__label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 44px;
  cursor: pointer;
  min-height: 30px;
  padding-top: 4px;
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    left: -2px;
    top: -1px;
    position: absolute;
  }
  &::after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: 7px;
    top: 9px;
    position: absolute;
    background: $basicgreen;
    display: none;
  }
}

.radio__input:checked + .radio__label::after {
  display: block;
}

.radio__label:active {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .radio__label {
    font-size: 20px;
    line-height: 30px;
    min-height: 40px;
    padding-left: 58px;
  &::before {
    width: 38px;
    height: 38px;
  }
  &::after {
    width: 18px;
    height: 18px;
    left: 10px;
    top: 11px;
  }
 }
}

@media (min-width: $desktop) {
  .radio__label {
    padding-top: 0;
  }
}
